<div class="main-content">

    <div class="page">

        <!-- Title -->
        <h2 class="blog-post-title">
            <%- page.title %>
        </h2>

        <!-- Content -->
        <%- page.content %>

    </div>

</div>


